<div class="row z-depth-3">
  <div class="section"></div>
  <h5 class="center">Create Github User</h5>
  <div class="section"></div>
  <div class="container ">
    <form autocomplete="off" [formGroup]="userForm">
      <div class="section"></div>
      <div class="input-field col s12 l6">
        <input type="text" id="fullName" class="validate" placeholder=" " formControlName="fullName">
        <label for="fullName">FullName</label>
      </div>
      <div class="input-field col s6 l6">
        <input type="text" id="dni" class="validate" placeholder=" " formControlName="dni">
        <label for="dni">DNI</label>
      </div>
      <div class="input-field col s6">
        <input type="date" id="birthday" class="validate" placeholder=" " formControlName="birthday">
        <label for="birthday" data-error="select date" data-success="Correcto">Birthday</label>
      </div>
      <div class="input-field col s12">
        <input type="email" id="email" class="validate" placeholder=" " formControlName="email">
        <label for="email" data-error="Correo Inválido" data-success="Correcto">Email</label>
      </div>
      <div class="input-field col s12">
        <input type="text" id="github" class="validate" placeholder=" " formControlName="github">
        <label for="github" data-error="usuario" data-success="Correcto">Github User</label>
      </div>

      <button class="btn waves-effect  brown darken-4" type="submit" name="action" (click)="createUser()">Create User
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>


<div class="section"></div>
<div class="container">
  <app-user-table></app-user-table>
</div>
